@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --clr-primary: rgba(105, 43, 218, 0.6);
  --bg-primary-linear: linear-gradient(
    30deg,
    rgb(142, 28, 28) 0%,
    rgb(52, 11, 129) 100%
  );

  --bg-gray: rgb(20, 28, 41);
  --bg-secondary: rgba(17, 25, 40, 1);
  --glass-bg-color: rgba(24, 32, 47, 0.3);
  --bg-black: rgb(10, 10, 10);
  --bg-white: rgb(250, 250, 250);

  --text-gradient-color: linear-gradient(
    90deg,
    rgb(156, 35, 35),
    rgb(106, 59, 193)
  );
  --text-white: rgb(248, 248, 248);
  --text-white-1: rgb(220, 220, 220);
  --text-black: rgb(30, 30, 30);

  --fs-7: 0.85rem;
  --fs-8: 0.75rem;

  --border-width-1: 1px;
  --border-secondary: 0.5px solid rgba(128, 128, 128, 0.3);
  --border: 1px solid rgb(89, 89, 100);

  --project-gradient: linear-gradient(
    0deg,
    rgb(34, 34, 44) 0%,
    rgba(34, 34, 44, 0.5) 30%,
    rgba(31, 31, 46, 0) 100%
  );

  --hover-primary: rgba(81, 41, 156, 0.08);
}

[data-theme="light"] {
  --bg-primary-linear: linear-gradient(
    30deg,
    rgb(199, 72, 72) 0%,
    rgb(105, 63, 182) 100%
  );

  --bg-gray: rgba(219, 223, 230, 0.7);
  --glass-bg-color: rgba(250, 250, 250, 0.5);
  --bg-secondary: rgb(188, 188, 188);
  --bg-white: rgb(10, 10, 10);
  --bg-black: rgb(250, 250, 250);

  --text-gradient-color: linear-gradient(
    90deg,
    rgb(142, 28, 28),
    rgb(52, 11, 129)
  );
  --text-white: rgb(15, 15, 15);
  --text-white-1: rgb(20, 20, 20);
  --text-black: rgb(240, 240, 240);

  --fs-7: 0.85rem;

  --border-width-1: 1px;
  --border-secondary: 0.5px solid rgba(128, 128, 128, 0.2);
  --border: 1px solid rgb(89, 89, 100);

  --project-gradient: linear-gradient(
    0deg,
    rgba(30, 30, 30, 0.8) 0%,
    rgba(30, 30, 30, 0.5) 40%,
    rgba(30, 30, 30, 0) 100%
  );
  --hover-primary: rgba(250, 246, 255, 0.4);
}

* {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--text-white);
  transition: all 0.1s;
}

.text-montserrat {
  font-family: "Montserrat", serif;
}

body {
  height: 100vh;
  background-image: url("/images/4844484.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  isolation: isolate;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
}

body::after {
  inset: 0;
  position: fixed;
  content: "";
  background-color: var(--bg-black);
  opacity: 0.9;
  z-index: -1;
}

.main-container {
  width: 100%;
  max-width: 1000px;
  padding-top: 1.5rem;
}

.versions-btn {
  z-index: 100;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  background-color: var(--bg-black);
}

.versions-btn .actions {
  position: absolute;
  bottom: 2.9rem;
  right: 0;
}
.versions-btn .actions p,
.versions-btn .actions a {
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  color: var(--text-white);
}
.hero-section {
  min-height: 100vh;
}

.introduction .intro-profile {
  object-fit: cover;
  aspect-ratio: 5/5;
  width: 95px;
}
.introduction .intro-name {
  font-size: 1.2rem;
}
.introduction .intro-details {
  font-size: 0.8rem;
}
.intro-btns {
  font-size: 0.6rem;
}

.outline-btn {
  border: var(--border-secondary) !important;
  box-sizing: content-box;
  position: relative;
  color: var(--text-white);
  background: var(--glass-bg-color);
}

.primary-btn {
  border: 1px solid transparent;
}

.project-card img {
  transition: transform 0.5s;
}
.project-card:hover img {
  transform: scale(105%);
}
.project-card .project-details {
  display: flex;
  flex-direction: column;
  justify-content: end;
  position: absolute;
  height: 100%;
  bottom: 0;
  background: var(--project-gradient);
  transition: height 0.3s;
  overflow: hidden;
  padding-bottom: 12px;
}

.project-card:hover .project-details {
  height: 0;
}

.tech-badge {
  color: var(--text-white-1);
}

.tech-badge:hover {
  color: var(--text-black);
  background-color: var(--bg-gray);
}

/* TIMELINNE  */

.timeline-section .wrapper::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 100%;
  left: 6px;
  border-radius: 1vw;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 0, 0.05) 0%,
    rgba(255, 0, 0, 0.34) 15%,
    rgb(102, 33, 116) 50%,
    purple 85%,
    rgba(128, 0, 128, 0.03) 100%
  );
}

/* .timeline-card-wrapper:nth-child(odd) {
  transform: translateX(-2rem);
}
.timeline-card-wrapper:nth-child(even) {
  transform: translateX(2rem);
} */
.timeline-card::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(172, 99, 191, 0.1);
}
.timeline-card::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  top: 50%;
  border-radius: 1vw;
  left: 2px;
  transform: translateY(-50%);
  background: var(--bg-primary-linear);
  z-index: 15;
}

/* UTILITY CLASS  */
.bg-none {
  background-color: transparent;
}
.fs-7 {
  font-size: var(--fs-7);
}
.fs-8 {
  font-size: var(--fs-8);
}

.border-secondary {
  border: var(--border-secondary) !important;
}

.bg-white {
  background-color: var(--bg-white) !important;
}
.bg-black {
  background-color: var(--bg-black) !important;
}

.bg-gray {
  background-color: var(--bg-gray);
}
.border {
  border: var(--border) !important;
}
.pointer {
  cursor: pointer;
}

.bg-secondary {
  background-color: var(--bg-secondary) !important;
}
.bg-primary-linear {
  background: var(--bg-primary-linear);
}

.bg-hover-primary {
  transition: border 0.3s;
}

.bg-hover-primary:hover {
  background: var(--hover-primary);
  border-color: var(--clr-primary) !important;
}

.text-white {
  color: var(--text-white) !important;
}

.text-secondary {
  color: var(--text-white-1) !important;
}

.glass-card {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--glass-bg-color);
}

.text-gradient {
  background: var(--text-gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
/* MEDIA QUERIES */
/* Base styles (Mobile First) */
/* Small screens (Tablets) */
@media (min-width: 600px) {
  .introduction .intro-profile {
    width: 120px;
  }
  .introduction .intro-name {
    font-size: 1.5rem;
  }
}

/* Medium screens (Laptops) */
@media (min-width: 768px) {
  .introduction .intro-details {
    font-size: 0.9rem;
  }
  .intro-btns {
    font-size: 0.8rem;
  }
}

/* Large screens (Desktops) */
@media (min-width: 1024px) {
  /* .introduction .intro-name {
    font-size: 1.5rem;
  }
  .introduction .intro-details {
    font-size: 0.9rem;
  } */
}

/* Extra-large screens (Big Monitors) */
@media (min-width: 1440px) {
  /* .introduction .intro-name {
    font-size: 1.5rem;
  } */
}
